POSTGRES_USER=eventflow
POSTGRES_PASSWORD=eventflow
POSTGRES_DB=eventflow
DATABASE_URL=postgresql://eventflow:eventflow@localhost:5432/eventflow
REDIS_URL=redis://localhost:6379
RESEND_API_KEY= add_ur_resend_api_jey
NOTIFICATION_EMAIL=<email thissidemayur@gmail.com>
DISCORD_WEBHOOK_URL=enter_your_discord_webhook_url
LOG_LEVEL=info
PORT=3000
NODE_ENV=development
GRAFANA_USER=admin
GRAFANA_PASSWORD=eventflow
ADMIN_SECRET= add your custom secret [genereate it by enter command `openssl rand -hex 32` for linux only ]